<?xml version="1.0" encoding="utf-8"?>


<backload storageContext="Filesystem" xsi:noNamespaceSchemaLocation="Web.Backload.xsd" xmlns:name="urn:backload-schema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <fileSystem filesRoot="~/Uploads" />
  <cacheManager lastModified="false" etag="false" expires="0" location="NoCache" mustRevalidate="true" />
</backload>


